<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <title>Register</title>



    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css" /> -->
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("UserManagement", []);

        //Controller Part
        app.controller("UserManagementController", function ($scope, $http) {
            console.log('%c Kafka Sample Application! ', 'background: #222; color: #bada55');
            $scope.form = {
                username: "",
                email: "",
                password: ""
            };

            //HTTP POST methods for add fruits
            $scope.register = function () {
                var data = { "username": $scope.form.username, "email": $scope.form.email, "password": $scope.form.password };

                $http({
                    method: "POST",
                    url: '/register',
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };

            function _success(response) {
                alert("User created successfully")
                _clearForm();
            }

            function _error(response) {
                console.log(response);
                alert(response.data.error || response.statusText);
            }

            //Clear the form
            function _clearForm() {
                $scope.form.username = "";
                $scope.form.password = "";
                $scope.form.email = "";
            }
        });
    </script>
</head>

<body ng-app="UserManagement" ng-controller="UserManagementController">
    <div class="container">
        <div class="d-flex align-items-center" style="height:90vh;">
            <div class="card pt-2 pb-2" style="width:500px; margin: auto;">
                <h1 class="card-title text-center text-muted m-3">Register</h1>
                <div class="card-body">
                    <div class="container">
                        <form class="form-group" ng-submit="register()">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control"
                                ng-model="form.username">
                            <label for="email">E-Mail</label>
                            <input type="email" id="email" name="email" class="form-control" ng-model="form.email">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                ng-model="form.password">
                            <br>
                            <button type="submit" class="btn btn-info form-control">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>